{% extends 'adminBase.html.twig' %}

{% block title %}Utilisateurs du site{% endblock %}

{% block body %}

<h1>Liste des utilisateurs du site</h1>


{% for user in utilisateurs %}

    {# affiche tous les utilisateurs de la bdd, sauf son profil et ceux supprimés  #}
    {% if user != app.user %}
        <p>{{user}}</p>
        <p>{{user.email}}</p>


        <b>Passer en admin</b>
        {# comme il n'y a que ROLE_ADMIN et ROLE_SUPERADMIN (et ROLE_USER par defaut), je vérifie à la main  #}
        {# il y a également role_acheteur mais se crée seulement lorsque quelqu'un passe commande  #}
        {% if "ROLE_ADMIN" in user.roles %}
            {% set checkAdm = 'checked' %}
        {% else %}
            {% set checkAdm = '' %}
        {% endif %}

        {% if "ROLE_SUPERADMIN" in user.roles %}
            {% set checkSuperAdm = 'checked' %}
        {% else %}
            {% set checkSuperAdm = '' %}
        {% endif %}


        <form action="{{ path('upgrade_role', {'id': user.id})}}" method="post">
            <p>
                <input type="checkbox" id="admin{{user.id}}" name="role_a" value="ROLE_ADMIN" {{checkAdm}}/>
                <label for="admin{{user.id}}">Admin</label>
            </p>
            <p>
                <input type="checkbox" id="superadmin{{user.id}}" name="role_supera" value="ROLE_SUPERADMIN" {{checkSuperAdm}}/>
                <label for="superadmin{{user.id}}">Super admin</label>
            </p>
            <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
            >
            {# honeypot #}
                <input name="firstname" type="text" id="firstname" class="hide-robot">
            <div class="btn-container">
                <div class="btn">
                    <button type="submit" name="submit">Valider</button>
                </div>
            </div>
        </form>

            <hr>

    {% endif %}
{% endfor %}

{% endblock %}
