{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}

{% block body %}

<h1>Ton profil</h1>


<p>Email : {{ app.user.email}} </p>
<p>Pseudo : {{app.user }} </p>


{# <a href="{{ path('delete_profil') }}">Supprimer son compte</a> #}

{# historique de réservation #}

{% if app.user.reservations is empty %}

    {% else %}
    <section id="profil-reservation">

        <h2>Historique de réservation</h2>
        {% for reservation in app.user.reservations %}
            <div class="reservation-card">
                <div class="reservation-card-header">
                    <div class="rch-info">
                        <p>Commande n° {{reservation}}</p>
                        <p><i class="fa-solid fa-calendar"></i> {{reservation.dateOrder |date("d.m.Y")}} </p>
                        <p><i class="fa-solid fa-arrow-right-long"></i> A récupérer le {{reservation.datePicking |date("d.m.Y")}} </p>
                        <p><i class="fa-solid fa-wallet"></i> {{reservation.totalPrice}} €</p>
                    </div>
                    <div class="reservation-etat-card">
                        {% if reservation.isPrepared %}
                            <p><i class="fa-solid fa-check"></i> Préparée </p>
                            {% else %}
                            <p><i class="fa-regular fa-clock"></i> Préparation en cours</p>
                        {% endif %}
                        {% if reservation.isPicked %}
                            <p><i class="fa-solid fa-check-double"></i> Récupérée </p>
                            {% else %}
                            <p><i class="fa-solid fa-user-clock"></i>A récupérer</p>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="reservation-produit-card">
                    {# cherche les produits liés à cette reservation  #}
                    {% for produit in reservation.bookings %}
                        <figure>
                            <img src="{{asset(produit.product.urlPicture)}}" alt="{{produit.product.altPicture}}">
                            <figcaption><a href="{{path('show_product', {'id': produit.product.id}) }}">{{produit.product}}</a></figcaption>
                        </figure>
                    {% endfor %}

                </div>

                <hr>
            </div>
        {% endfor %}


    </section>
{% endif %}



{% endblock %}