{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}

{% block body %}

<section id="profil">

    <h1>Ton profil</h1>
    
    
    <p>Email : {{ app.user.email}} </p>
    <p>Pseudo : {{app.user }} </p>

    {# modifier son pseudo  #}
    <a href="#" id="openFormProfil">Modifier son pseudo</a>
    <form action="{{path('edit_profil')}}" method="post" class="editProfil">

    
        <div class="login-row">
            <label for="inputPseudo">Pseudo</label>
            <input type="texte" name="pseudo" class="form-control" value="{{app.user.pseudo}}" required>
        </div>
        
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    
        <button class="contact-btn" type="submit">
            Enregistrer
        </button>
    </form>
    
    
    {# <a href="{{ path('delete_profil') }}">Supprimer son compte</a> #}
    
    {# --------------------------------historique de réservation-------------------------------- #}
    
    {% if app.user.reservations is empty %}
    
        {% else %}
        <div id="profil-reservation">
    
            <h2>Historique de réservation</h2>
            {% for reservation in app.user.reservations %}
                <div class="reservation-card">
                    <div class="reservation-card-header">
                        <div class="rch-info">
                            <p>Commande n° {{reservation}}</p>
                            <p><i class="fa-solid fa-calendar"></i> {{reservation.dateOrder |date("d.m.Y")}} </p>
                            <p><i class="fa-solid fa-arrow-right-long"></i> A récupérer le {{reservation.datePicking |date("d.m.Y")}} </p>
                            <p><i class="fa-solid fa-wallet"></i> {{reservation.totalPrice}} €</p>
                        </div>
                        <div class="reservation-etat-card">
                            {% if reservation.isPrepared %}
                                <p><i class="fa-solid fa-check"></i> Préparée </p>
                                {% else %}
                                <p><i class="fa-regular fa-clock"></i> Préparation en cours</p>
                            {% endif %}
                            {% if reservation.isPicked %}
                                <p><i class="fa-solid fa-check-double"></i> Récupérée </p>
                                {% else %}
                                <p><i class="fa-solid fa-user-clock"></i>A récupérer</p>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="reservation-produit-card">
                        {# cherche les produits liés à cette reservation  #}
                        {% for produit in reservation.bookings %}
                            <figure>
                                <img src="{{asset(produit.product.urlPicture)}}" alt="{{produit.product.altPicture}}">
                                <figcaption><a href="{{path('show_product', {'id': produit.product.id}) }}">{{produit.product}}</a></figcaption>
                            </figure>
                        {% endfor %}
    
                    </div>
    
                    <hr>
                </div>
            {% endfor %}
    
    
        </div>
    {% endif %}
    
    {# --------------------------------historique du suivi de projet-------------------------------- #}
    
    {% if app.user.projects is empty %}
    {% else %}
    
        <h2>Rappel de votre projet</h2>
    
        {% for project in app.user.projects %}
    
            {# en fonction de l'état du projet  #}
            <p class="projet-state">
                {# en cours ou en attente #}
                {% if project.state.id == 1 or project.state.id == 2 %}
                    <i class="fa-solid fa-hourglass-start"></i>

                {# accepté  #}
                {% elseif project.state.id == 3 %}
                <i class="fa-solid fa-circle-check"></i>

                {# refusé  #}
                {% elseif project.state.id == 4 %}
                <i class="fa-regular fa-circle-xmark"></i>
                
                {% endif %}
             {{project.state}} 
            </p>
        <div class="projet">
            <h2>{{project}}</h2>
            <div class="projet-entete">
                <div class="projet-entete-flex">
                    <p>Envoyé le {{project.dateReceipt | date("d.m.Y")}} </p>
                    <p>Evenement le <b>{{project.dateEvent | date("d.m.Y")}}</b></p>
                    <p> <small>{{project.nbGuest}} invités</small></p>
                </div>
                <div class="projet-entete-flex">
                    <p>Coordonées renseignées</p>
                    <p> {{project.telephone }} </p>
                    {# s'il y a email c'est que l'user prefere etre contacté par celui donné dans le form plutot que celui du compte utilisateur #}
                    {% if project.email %}
                        <p> {{project.email}} </p>
                        {% else %}
                        <p>{{project.user.email}}</p>
                    {% endif %}
                </div>
            </div>
    
            {# prestations  #}
            <h4>Prestation(s) envisagée(s):</h4>
            {% for presta in project.prestations %}
                <p>{{presta}}</p>
            {% endfor %}
    
            {# budget  #}
            <h4>Budget: </h4>
            <p>{{project.budget.minPrice |number_format(0, ',', ' ')}} - {{project.budget.maxPrice |number_format(0, ',', ' ')}} €</p>
    
            {# prix fixé  #}
            {% if project.finalPrice %}
                <h4>Prix fixé: </h4>
                <p> {{project.finalPrice |number_format(0, ',', ' ') }} € </p>
            {% endif %}
    
            {# description  #}
            <p> {{project.description}} </p>
    
        </div>
    
        {# suivi du projet, commentaires des personnes présentes sur le pannel admin  #}
        <h3>Suivi du projet</h3>
        
        {% for comment in project.comments %}

            <div class="projet-suivi">
                <div class="projet-suivi-content">
                    <p>Ajouté le {{comment.datePost |format_datetime('short', 'short', locale='fr') }}</p>
                    {# <p>Par {{comment.user}} le {{comment.datePost | date("d.m.Y")}}</p> #}
                    <p>{{comment.content}} </p>
                </div>
            </div>

            {% else %}
            <p>Aucun commentaire ajouté pour l'instant</p>
        {% endfor %}

        {# devis  #}
        {% for quot in project.quotations %}
            {# si le devis a été accepté  #}
            {% if quot.isAccepted %}
                <p><a href="{{path('show_facture', {'id': project.id})}}" target="_blank">Afficher la facture</a></p>
            {% else %}
                <p>Un devis a été généré par l'entreprise!</p>
                <a href="{{path('show_devis', {'id': quot.id})}}" target="_blank">
                    <button>
                        Afficher le devis
                    </button>
                </a>

                {# accepter ou refuser le devis #}
                <p>Accepter validera ce projet et son prix, refuser le clora et il faudra en commencer un nouveau.</p>
                <div>
                    <a href="#">
                        <button>
                            Refuser le devis
                        </button>
                    </a>
                    <a href="{{path('accepte_devis', {id: quot.id})}}">
                        <button>
                            Accepter le devis
                        </button>
                    </a>
                </div>
            {% endif %}
            {% else %}
        {% endfor %}
            
        {% endfor %}
    
    {% endif %}
</section>

{% endblock %}