{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}

{% block body %}

<h1>Ton profil</h1>


<p>Email : {{ app.user.email}} </p>
<p>Pseudo : {{app.user }} </p>


{# <a href="{{ path('delete_profil') }}">Supprimer son compte</a> #}

{# historique de réservation #}

{% if app.user.reservations is empty %}

    {% else %}
    <h2>Historique de réservation</h2>
    {% for reservation in app.user.reservations %}
        <p>Commande n° {{reservation}}</p>
        <p>Passée le {{reservation.dateOrder |date("d.m.Y")}} </p>
        <p>A récupérer le {{reservation.datePicking |date("d.m.Y")}} </p>
        <p>Pour un prix total de {{reservation.totalPrice}} €</p>
        {% if reservation.isPrepared %}
            <p>Préparée </p>
            {% else %}
            <p>Préparation en cours</p>
        {% endif %}
        
        {% if reservation.isPicked %}
            <p>Récupérée </p>
            {% else %}
            <p>A récupérer</p>
        {% endif %}
        
        
        {# cherche les produits liés à cette reservation  #}
        {% for produit in reservation.bookings %}
            <figure><img src="{{asset(produit.product.urlPicture)}}" alt="{{produit.product.altPicture}}"></figure>
            <p><a href="{{path('show_product', {'id': produit.product.id}) }}">{{produit.product}}</a></p>
        {% endfor %}
        <hr>
    {% endfor %}
{% endif %}



{% endblock %}