{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}

{% block body %}

<section id="profil">

    <h1>Ton profil</h1>
    
    <p>Email : {{ app.user.email}} </p>
    <p>Pseudo : {{app.user }} 
        {# bouton modifier son pseudo qui ouvre le formulaire #}
        <button aria-label="modifier son pseudo" id="openFormProfil">
            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18.3282 8.32837L15.8939 5.89405C14.7058 4.706 14.1118 4.11198 13.4268 3.88941C12.8243 3.69364 12.1752 3.69364 11.5727 3.88941C10.8877 4.11198 10.2937 4.706 9.10564 5.89405L7.49975 7.49994M3 20.9997L3.04745 20.6675C3.21536 19.4922 3.29932 18.9045 3.49029 18.3558C3.65975 17.8689 3.89124 17.4059 4.17906 16.9783C4.50341 16.4963 4.92319 16.0765 5.76274 15.237L17.4107 3.58896C18.1918 2.80791 19.4581 2.80791 20.2392 3.58896C21.0202 4.37001 21.0202 5.63634 20.2392 6.41739L8.37744 18.2791C7.61579 19.0408 7.23497 19.4216 6.8012 19.7244C6.41618 19.9932 6.00093 20.2159 5.56398 20.3879C5.07171 20.5817 4.54375 20.6882 3.48793 20.9012L3 20.9997Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </button>
    </p>
    
    <form action="{{path('edit_profil')}}" method="post" class="editProfil">

    
        <div class="login-row">
            <label for="inputPseudo">Pseudo</label>
            <input type="texte" name="pseudo" value="{{app.user.pseudo}}" required>
        </div>
        
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        {# honeypot #}
        <input name="firstname" type="text" id="firstname" class="hide-robot">
    
        <button class="contact-btn" type="submit">
            Enregistrer
        </button>
    </form>
        
    
    {# *****************************************************historique de réservation***************************************************** #}
    
    {% if app.user.reservations is empty %}
    
        {% else %}
        <div id="profil-reservation">
    
            <h2>Historique de réservation</h2>
            {% for reservation in app.user.reservations %}
                <div class="reservation-card">
                    <div class="reservation-card-header">
                        <div class="rch-info">
                            <p>Commande n° {{reservation}}</p>
                            <p><i class="fa-solid fa-calendar"></i> {{reservation.dateOrder |date("d.m.Y")}} </p>
                            <p><i class="fa-solid fa-arrow-right-long"></i> A récupérer le {{reservation.datePicking |date("d.m.Y")}} </p>
                            <p><i class="fa-solid fa-wallet"></i> {{reservation.totalPrice}} €</p>
                        </div>
                        <div class="reservation-etat-card">
                            {% if reservation.isPrepared %}
                                <p><i class="fa-solid fa-check"></i> Préparée </p>
                                {% else %}
                                <p><i class="fa-regular fa-clock"></i> Préparation en cours</p>
                            {% endif %}
                            {% if reservation.isPicked %}
                                <p><i class="fa-solid fa-check-double"></i> Récupérée </p>
                                {% else %}
                                <p><i class="fa-solid fa-user-clock"></i>A récupérer</p>
                            {% endif %}
                            
                        </div>
                    </div>
                    <div class="reservation-produit-card">
                        {# cherche les produits liés à cette reservation  #}
                        {% for produit in reservation.bookings %}
                            <figure>
                                <img src="{{asset(produit.product.urlPicture)}}" alt="{{produit.product.altPicture}}">
                                <figcaption><a href="{{path('show_product', {'id': produit.product.id}) }}">{{produit.product}}</a></figcaption>
                            </figure>
                        {% endfor %}
    
                    </div>
    
                    <hr>
                </div>
            {% endfor %}
    
    
        </div>
    {% endif %}
    
    {# *****************************************************historique du suivi de projet***************************************************** #}
    
    {% if app.user.projects is empty %}
    {% else %}
        <div id="profil-projet">

            <h2>Rappel de votre projet</h2>
            
            {% for project in app.user.projects %}
            
                {# en fonction de l'état du projet  #}
                <p class="projet-state">
                    {# en cours ou en attente #}
                    {% if project.state.id == 1 or project.state.id == 2 %}
                        <i class="fa-solid fa-hourglass-start"></i>
    
                    {# accepté  #}
                    {% elseif project.state.id == 3 %}
                    <i class="fa-solid fa-circle-check"></i>
    
                    {# refusé  #}
                    {% elseif project.state.id == 4 %}
                    <i class="fa-regular fa-circle-xmark"></i>
                    
                    {% endif %}
                {{project.state}} 
                </p>
                <div class="projet">
                    <h2>{{project}}</h2>
                    <div class="projet-entete">
                        <div class="projet-entete-flex">
                            <p>Envoyé le {{project.dateReceipt | date("d.m.Y")}} </p>
                            <p>Evenement le <b>{{project.dateEvent | date("d.m.Y")}}</b></p>
                            <p> <small>{{project.nbGuest}} invités</small></p>
                        </div>
                        <div class="projet-entete-flex">
                            <p>Coordonées renseignées</p>
                            <p> {{project.telephone }} </p>
                            {# s'il y a email c'est que l'user prefere etre contacté par celui donné dans le form plutot que celui du compte utilisateur #}
                            {% if project.email %}
                                <p> {{project.email}} </p>
                                {% else %}
                                <p>{{project.user.email}}</p>
                            {% endif %}
                        </div>
                    </div>
            
                    {# -----prestations-----  #}
                    <h4>Prestation(s) envisagée(s):</h4>
                    {% for presta in project.prestations %}
                        <p>{{presta}}</p>
                    {% endfor %}
            
                    {# -----budget-----  #}
                    <h4>Budget: </h4>
                    <p>{{project.budget.minPrice |number_format(0, ',', ' ')}} - {{project.budget.maxPrice |number_format(0, ',', ' ')}} €</p>
            
                    {# -----prix fixé-----  #}
                    {% if project.finalPrice %}
                        <h4>Prix fixé: </h4>
                        <p> {{project.finalPrice |number_format(0, ',', ' ') }} € </p>
                    {% endif %}
            
                    {# -----description-----  #}
                    <p> {{project.description}} </p>
            
                </div>
            
                {# ----------commentaires admin suivi de projet----------  #}
                <section id="projet-suivis">

                    <h3>Suivi du projet</h3>
                    
                    {% for comment in project.comments %}
            
                        <div class="projet-suivi">
                            <p>Ajouté le {{comment.datePost |format_datetime('short', 'short', locale='fr') }}</p>
                            {# <p>Par {{comment.user}} le {{comment.datePost | date("d.m.Y")}}</p> #}
                            <p>{{comment.content}} </p>
                        
                            
                        </div>
            
                        {% else %}
                        <p>Aucun commentaire ajouté pour l'instant</p>
                    {% endfor %}

                </section>
        
                {# ----------devis----------  #}
                {% for quot in project.quotations %}
                    {# si le devis a été accepté, afficher la facture  #}
                    {% if quot.isAccepted == true %}
                        <a href="{{path('show_facture', {'id': project.id})}}" target="_blank" class="btn-devis-facture">
                            Afficher la facture
                        </a>
                        <p>Si vous ne pouvez pas visualiser la facture en pdf, ouvrez le document html <a href="{{path('show_facture_html', {'id': project.id})}}" target="_blank">ici</a></p>

                        {# si l'état n'a pas encore été défini  #}
                        {% elseif quot.isAccepted  == null %}
                        <p>Un devis a été généré par l'entreprise!</p>
                        <a href="{{path('show_devis', {'id': quot.id})}}" target="_blank" class="btn-devis-facture">
                            Afficher le devis
                        </a>
                        <p>Si vous ne pouvez pas visualiser le devis en pdf, ouvrez le document html <a href="{{path('show_devis_html', {'id': quot.id})}}" target="_blank">ici</a></p>
    
                        {# accepter ou refuser le devis #}
                        <p>Accepter validera ce projet et son prix, refuser le clora et il faudra en commencer un nouveau.</p>
                        <div id="devis-action">

                            <form action="{{path('refuse_devis', {id: quot.id})}}" method="post">
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                {# honeypot #}
                                <input name="firstname" type="text" id="firstname" class="hide-robot">
                                <button type="submit" name="submit" class="refuse-devis">Refuser le devis</button>
                            </form>
                            
                            <form action="{{path('accepte_devis', {id: quot.id})}}" method="post">
                                <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                                >
                                {# honeypot #}
                                <input name="firstname" type="text" id="firstname" class="hide-robot">
                                <button type="submit" name="submit" class="accepte-devis">Accepter le devis</button>
                            </form>

                            {# <a href="{{path('refuse_devis', {id: quot.id})}}" class="refuse-devis">Refuser le devis</a> #}
                            {# <a href="{{path('accepte_devis', {id: quot.id})}}" class="accepte-devis">Accepter le devis</a> #}
                        </div>
                        {% else %}
                    {% endif %}
                    
                {% endfor %}            
                    
            {% endfor %}
            
        </div>
    {% endif %}

    {# *****************************************************rendez-vous***************************************************** #}
    {% if app.user.appointments is empty %}
        <p>Vous n'avez encore aucun rendez-vous de programmé</p>
    {% else %}

        <div id="profil-rdv">
            <h3>Rendez-vous avec nous</h3>
            <p>Pour annuler ou modifier un rendez-vous, veuillez contacter un membre de l'équipe</p>
            <p><b>A venir</b></p>
            {% for appointment in app.user.appointments %}
                {# rdv a venir  #}
                {% if appointment.dateEnd > "now" %}

                    <div class="rdv-card">
                        <div class="rdv-card-svg">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="8" cy="8" r="8" fill="#D2DDD2"></circle> </g></svg>
                        </div>
                        <div class="rdv-card-header">
                            <p>{{appointment.dateStart |format_datetime('short', 'short', locale='fr')}}</p>
                            <p>{{appointment.dateEnd |format_datetime('short', 'short', locale='fr')}}</p>
                        </div>
                        <div class="rdv-card-content">
                            <p>{{appointment.title}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <p><b>Passés</b></p>
            {% for appointment in app.user.appointments %}
                {# rdv passés  #}
                {% if appointment.dateEnd < "now" %}

                    <div class="rdv-card">
                        <div class="rdv-card-svg">
                            <svg width="20px" height="20px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="8" cy="8" r="8" fill="#D2DDD2"></circle> </g></svg>
                        </div>
                        <div class="rdv-card-header">
                            <p>{{appointment.dateStart |format_datetime('short', 'short', locale='fr')}}</p>
                            <p>{{appointment.dateEnd |format_datetime('short', 'short', locale='fr')}}</p>
                        </div>
                        <div class="rdv-card-content">
                            <p>{{appointment.title}}</p>
                        </div>
                    </div>

                    {# rdv passés  #}
                {% endif %}
            {% endfor %}

            
        </div>
    {% endif %}
    <div class="rdv-btn">
        <span class="rdv-icon">
            <svg fill="#f5f5f5" width="40px" height="40px" viewBox="0 0 32 32" id="Outlined" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Fill"> <path d="M26,4V2H24V4H8V2H6V4H2V25a3,3,0,0,0,3,3H27a3,3,0,0,0,3-3V4Zm2,21a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V6H6V9H8V6H24V9h2V6h2Z"></path> <path d="M6,17h6V11H6Zm2-4h2v2H8Z"></path> <path d="M13,17h6V11H13Zm2-4h2v2H15Z"></path> <path d="M20,17h6V11H20Zm2-4h2v2H22Z"></path> <path d="M6,24h6V18H6Zm2-4h2v2H8Z"></path> <path d="M13,24h6V18H13Zm2-4h2v2H15Z"></path> </g> </g></svg>
        </span>
        <span class="rdv-text">
            <a href="{{path('app_appointment')}}">Rendez-vous</a>
        </span>
    </div>

    {# *****************************************************paramètres***************************************************** #}
    <h3>Paramètres</h3>
    <p>Supprimer son compte supprimera également toute trace de <b>projet commencé</b> ainsi que les <b>réservations</b> dans la boutique! Pensez à vérifier qu'il n'y a rien en attente.</p>

    {# ----suppression compte---- #}
    <form action="{{ path('delete_profil') }}" class="form-delete" method="post">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
      >
      {# honeypot #}
      <input name="firstname" type="text" id="firstname" class="hide-robot">

      <button type="submit" name="submit" class="btn-delete">Supprimer son compte</button>
    </form>

    {# -----réinitialiser mdp si on n'est pas utilisateur google ----- #}
    {% if app.user.googleUser == false %}
        <p><a href="{{path('app_forgot_password_request')}}">Réinitialiser son mot de passe</a></p>
    {% endif %}
        
</section>

<script>
    //----------------------------------fonction pour afficher ou enlever le formulaire modifie les infos profil
    openEditForm = document.querySelector('#openFormProfil');
    formEdit = document.querySelector('.editProfil');

    openEditForm.addEventListener('click', () => {
        formEdit.classList.toggle('open')
    })
</script>
{% endblock %}