{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<h1>Nous contacter</h1>

<div id="contact">

    <h2>Parlons de votre projet</h2>
    
    {# {{form(form)}} #}
    
    {{ form_start(form) }}
    
    {{ form_row(form.firstname) }} {{ form_row(form.surname) }}
    
    {{ form_row(form.email, {'attr': {'class': 'test'}}) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.dateEvent) }}
    {{ form_row(form.nbGuest) }}
    {{ form_row(form.description) }}
    {{ form_row(form.Destination) }}
    {{ form_row(form.budget) }}
    {{ form_row(form.prestations) }}
    
    
    {{ form_row(form.Envoyer) }}
    
    {{ form_end(form) }}

</div>

{% endblock %}
