{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}

{% block body %}


<section id="contact">
    <h1>Nous contacter</h1>

    <h2>Parlons de votre projet</h2>
    <p>Afin d'assurer un meilleur suivi de projet, si ce n'est pas déjà fait veuillez créer un compte ou vous connecter <a href="{{path('app_login')}}">ici</a> </p>

    <div class="form contact">

        {{ form_start(form) }}
        
        <div class="form-flex">
            {{ form_row(form.firstname) }}
            {{ form_row(form.surname) }}
        </div>
        <p>Remplir l'email de contact si différent de votre compte utilisateur</p>
        <div class="form-flex">
            {{ form_row(form.email) }}
            {{ form_row(form.telephone) }}
        </div>
        <div class="form-flex">
            {{ form_row(form.dateEvent) }}
            {{ form_row(form.nbGuest) }}
        </div>
        <div class="form-flex">
            {{ form_row(form.Destination) }}
            {{ form_row(form.budget) }}
        </div>

        {{ form_label(form.prestations) }}
        <div class="form-prestation-content">
            {# pour chaque enfant dans prestations, donc chaque objet + son input checkbox #}
            {% for child in form.prestations %}
                <div class="form-check">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
        
        {{ form_row(form.description) }}
        {{ form_row(form.Envoyer) }}
    
        {{ form_end(form) }}

    </div>

</section>

{% endblock %}
