{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}

{% block body %}

<h1>Nous contacter</h1>

<section id="contact">

    <h2>Parlons de votre projet</h2>
    <p>Pour un meilleur suivi de projet, si ce n'est pas déjà fait veuillez créer un compte ou vous connecter <a href="{{path('app_login')}}">ici</a> </p>

    <div class="form contact">

        {{ form_start(form) }}
        
        <div class="form-flex">
            {{ form_row(form.firstname) }}
            {{ form_row(form.surname) }}
        </div>
        <p>Remplir l'email de contact si différent de votre compte utilisateur</p>
        <div class="form-flex">
            {{ form_row(form.email) }}
            {{ form_row(form.telephone) }}
        </div>
        <div class="form-flex">
            {{ form_row(form.dateEvent) }}
            {{ form_row(form.nbGuest) }}
        </div>
        <div class="form-flex">
            {{ form_row(form.Destination) }}
            {{ form_row(form.budget) }}
        </div>
        {{ form_row(form.prestations) }}
        {{ form_row(form.description) }}
        {{ form_row(form.Envoyer) }}
    
        {{ form_end(form) }}

    </div>

    
    {# <p>La responsable de traitement Laure Schaeffer traite les données recueillies pour: rentrer en communication, afin d'effectuer une opération technique de prospection, et l'élaboration d'un potentiel devis et contrat.
    Pour en savoir plus sur la gestion de vos données personnelles et pour exercer vos droits, reportez-vous à la notice ci-jointe.
    </p>
    <p>Les informations recueillies dans le questionnaire sont enregistrées dans un fichier informatisé par data-controller[at]ceremonie-couture.fr
        La base légale du traitement est "le consentement". Les données collectées seribt communiqués aux seuls destinataires suivant: Laure Maria (nom emprunté).
        Elles sont conservées pendant 1 an.
        Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. Vous pouvez retirer à tout moment votre consentement au traitement de vos données. Vous pouvez également exercer votre droit à la portabilité de vos données.
        Consultez le site cnil.fr pour plus d'informations sur vos droits.
        Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter data-controller[at]ceremonie-couture.fr
        Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
    </p> #}
    

</section>

{% endblock %}
