{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}

<h1>Organisation de mariages d'exception</h1>

<div id="home-intro">
    <p>Chez Cérémonie Couture, nous transformons vos rêves en réalité. Basés à Strasbourg, au cœur de l'Alsace, nous sommes spécialisés dans l'organisation de mariages sur mesure, où chaque détail est soigneusement orchestré pour refléter votre amour et votre personnalité unique.
    </p>
</div>

<section id="home-presentation">

    <article>
        <h2>Approche personnalisée</h2>
        <p>Nous prenons compte que chaque mariage est unique. Nous travaillons en étroite collaboration avec vous pour comprendre vos souhaits et vos attentes. Que vous rêviez d'une cérémonie intime ou d'une grande réception somptueuse, nous concevons des événements sur mesure qui reflètent votre style et votre vision.</p>
    </article>
    <article>
        <h2>Créativité et innovation</h2>
        <p>Nous sommes constamment à la recherche des dernières tendances et innovations. Que ce soit pour un thème traditionnel ou une approche plus contemporaine pour une <strong>organisation de mariage original</strong>, nous apportons une touche de créativité qui rendra votre mariage unique et mémorable.</p>
    </article>
</section>


{# --------------------------------------------------3 cards prestations----------------------------------------  #}
<section id="home-prestation">
    <h2>Notre savoir faire</h2>

    <div class="home-prestation-card">
        <figure><img src="{{asset('img/accueil/proposal2.jpg')}}" alt="photo d'accueil sur une proposition en mariage"></figure>

        <div class="home-prestation-card-content">
            <h3>Proposition</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum numquam eos dolorum vero ipsum quae inventore recusandae minima fugiat aspernatur. Sapiente eligendi corrupti voluptatem cum aut veniam laboriosam sed repudiandae!
            Voluptas, nihil! Unde, repudiandae! Dolorem labore, sequi veniam nulla laudantium corporis voluptate veritatis laborum quia? Beatae quo officiis, et est quod nostrum veritatis ipsa adipisci laboriosam aliquam, quibusdam expedita non?
            Ex, amet! Atque praesentium perspiciatis fugiat nemo iste deleniti tenetur debitis veritatis adipisci ex doloribus velit laboriosam aperiam magni nesciunt incidunt, dicta modi ratione est distinctio nisi. Numquam, beatae aliquam!
            Dolorum maxime ad totam praesentium aliquam explicabo ex nihil voluptatum pariatur aperiam accusantium numquam at, provident earum molestiae deserunt minima ut iste non corrupti! Ab, doloribus distinctio. Temporibus, fugiat? Delectus!
            Obcaecati quasi ipsam at veritatis assumenda eligendi repudiandae vero molestiae consequatur cumque, vel ullam cum perferendis dicta voluptas illum velit nesciunt accusantium dolorem debitis, laboriosam aspernatur! Atque reprehenderit eveniet consequuntur?</p>
        </div>

    </div>

    <div class="home-prestation-card">
        <figure><img src="{{asset('img/accueil/evjf.jpg')}}" alt="photo d'accueil sur un enterrement de ville de jeune fille"></figure>

        <div class="home-prestation-card-content">
            <h3>Enterrement de vie de jeune fille/garçon</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum numquam eos dolorum vero ipsum quae inventore recusandae minima fugiat aspernatur. Sapiente eligendi corrupti voluptatem cum aut veniam laboriosam sed repudiandae!
                Voluptas, nihil! Unde, repudiandae! Dolorem labore, sequi veniam nulla laudantium corporis voluptate veritatis laborum quia? Beatae quo officiis, et est quod nostrum veritatis ipsa adipisci laboriosam aliquam, quibusdam expedita non?
                Ex, amet! Atque praesentium perspiciatis fugiat nemo iste deleniti tenetur debitis veritatis adipisci ex doloribus velit laboriosam aperiam magni nesciunt incidunt, dicta modi ratione est distinctio nisi. Numquam, beatae aliquam!
                Dolorum maxime ad totam praesentium aliquam explicabo ex nihil voluptatum pariatur aperiam accusantium numquam at, provident earum molestiae deserunt minima ut iste non corrupti! Ab, doloribus distinctio. Temporibus, fugiat? Delectus!
                Obcaecati quasi ipsam at veritatis assumenda eligendi repudiandae vero molestiae consequatur cumque, vel ullam cum perferendis dicta voluptas illum velit nesciunt accusantium dolorem debitis, laboriosam aspernatur! Atque reprehenderit eveniet consequuntur?</p>
        </div>

    </div>

    <div class="home-prestation-card">
        <figure><img src="{{asset('img/accueil/alle.JPG')}}" alt="photo d'accueil sur une allee de mariage"></figure>

        <div class="home-prestation-card-content">
            <h3>Organisation</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum numquam eos dolorum vero ipsum quae inventore recusandae minima fugiat aspernatur. Sapiente eligendi corrupti voluptatem cum aut veniam laboriosam sed repudiandae!
                Voluptas, nihil! Unde, repudiandae! Dolorem labore, sequi veniam nulla laudantium corporis voluptate veritatis laborum quia? Beatae quo officiis, et est quod nostrum veritatis ipsa adipisci laboriosam aliquam, quibusdam expedita non?
                Ex, amet! Atque praesentium perspiciatis fugiat nemo iste deleniti tenetur debitis veritatis adipisci ex doloribus velit laboriosam aperiam magni nesciunt incidunt, dicta modi ratione est distinctio nisi. Numquam, beatae aliquam!
                Dolorum maxime ad totam praesentium aliquam explicabo ex nihil voluptatum pariatur aperiam accusantium numquam at, provident earum molestiae deserunt minima ut iste non corrupti! Ab, doloribus distinctio. Temporibus, fugiat? Delectus!
                Obcaecati quasi ipsam at veritatis assumenda eligendi repudiandae vero molestiae consequatur cumque, vel ullam cum perferendis dicta voluptas illum velit nesciunt accusantium dolorem debitis, laboriosam aspernatur! Atque reprehenderit eveniet consequuntur?</p>
        </div>

    </div>

</section>

{# ----------------------------------------bulles service------------------------------------- #}
<section id="home-service">
    <h3>Nous faire confiance</h3>
    <div id="service-cards">
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-location.png')}}" alt="logo d'un point de carte"></figure>
            <p>Lieu</p>
        </div>
        
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-deco.png')}}" alt="logo decoration"></figure>
            <p>Décoration</p>
        </div>
    
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-dollar.png')}}" alt="logo d'un dollar"></figure>
            <p>Budget</p>
        </div>
    
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-people.png')}}" alt="logo d'une personne"></figure>
            <p>Prestataires</p>
        </div>
    
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-orga.png')}}" alt="logo d'un rouage pour l'organisation"></figure>
            <p>Organisation</p>
        </div>

    </div>

</section>


{# -----------------------------------------------------avis----------------------------------------- #}

<section id="home-avis">
    <h3>Leurs avis</h3>
    {% for a in avis %}
        <div class="avis-card">
            <div class="avis-card-header">
                <p>{{a}}</p>
                <p> {{a.dateReceipt | date("m-Y")}} </p>
            </div>
            <div class="avis-card-content">
                <p>{{a.description}}</p>
            </div>
        </div>
    {% endfor %}

    <a href="{{ path('app_temoignage') }}"><button class="btn-avis">Donner son avis</button></a>
</section>

{# ---------------------------------------------------contact--------------------------------------- #}

<div id="home-contact">
    {# <p>Prêts à commencer votre aventure avec nous ? Contactez Cérémonie Couture dès aujourd'hui pour discuter de vos idées et commencer à <strong>planifier le mariage</strong> de vos rêves. Ensemble, créons une cérémonie qui sera gravée dans votre mémoire pour toujours.
    </p> #}
    <figure>
        <img src="{{asset('img/accueil/contact-bg.jpg')}}" alt="image d'étincelle">
        <a href="{{ path('app_contact') }}" class="btn-contact"><button>On en discute ensemble?</button></a>
    </figure>
    
</div>
{% endblock %}
