{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}

<h1>Organisation de mariages d'exception</h1>

<div id="home-intro">
    <p>Chez Cérémonie Couture, nous transformons vos rêves en réalité. Basés à Strasbourg, au cœur de l'Alsace, nous sommes spécialisés dans l'organisation de mariages sur mesure, où chaque détail est soigneusement orchestré pour refléter votre amour et votre personnalité unique.
    </p>
</div>

<section id="home-presentation">

    <article>
        <h2>Approche personnalisée</h2>
        <p>Nous prenons compte que chaque mariage est unique. Nous travaillons en étroite collaboration avec vous pour comprendre vos souhaits et vos attentes. Que vous rêviez d'une cérémonie intime ou d'une grande réception somptueuse, nous concevons des événements sur mesure qui reflètent votre style et votre vision.</p>
    </article>
    <article>
        <h2>Créativité et innovation</h2>
        <p>Nous sommes constamment à la recherche des dernières tendances et innovations. Que ce soit pour un thème traditionnel ou une approche plus contemporaine pour une <strong>organisation de mariage original</strong>, nous apportons une touche de créativité qui rendra votre mariage unique et mémorable.</p>
    </article>
</section>


{# --------------------------------------------------3 cards prestations----------------------------------------  #}
<section id="home-prestation">
    <h2>Notre savoir faire</h2>

    <div class="home-prestation-card">
        <figure><img src="{{asset('img/accueil/proposal2.jpg')}}" alt="photo d'accueil sur une proposition en mariage"></figure>

        <div class="home-prestation-card-content">
            <h3>Proposition</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum numquam eos dolorum vero ipsum quae inventore recusandae minima fugiat aspernatur. Sapiente eligendi corrupti voluptatem cum aut veniam laboriosam sed repudiandae!
            Voluptas, nihil! Unde, repudiandae! Dolorem labore, sequi veniam nulla laudantium corporis voluptate veritatis laborum quia? Beatae quo officiis, et est quod nostrum veritatis ipsa adipisci laboriosam aliquam, quibusdam expedita non?
            Ex, amet! Atque praesentium perspiciatis fugiat nemo iste deleniti tenetur debitis veritatis adipisci ex doloribus velit laboriosam aperiam magni nesciunt incidunt, dicta modi ratione est distinctio nisi. Numquam, beatae aliquam!
            Dolorum maxime ad totam praesentium aliquam explicabo ex nihil voluptatum pariatur aperiam accusantium numquam at, provident earum molestiae deserunt minima ut iste non corrupti! Ab, doloribus distinctio. Temporibus, fugiat? Delectus!
            Obcaecati quasi ipsam at veritatis assumenda eligendi repudiandae vero molestiae consequatur cumque, vel ullam cum perferendis dicta voluptas illum velit nesciunt accusantium dolorem debitis, laboriosam aspernatur! Atque reprehenderit eveniet consequuntur?</p>
        </div>

    </div>

    <div class="home-prestation-card">
        <figure><img src="{{asset('img/accueil/evjf.jpg')}}" alt="photo d'accueil sur un enterrement de ville de jeune fille"></figure>

        <div class="home-prestation-card-content">
            <h3>Enterrement de vie de jeune fille/garçon</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum numquam eos dolorum vero ipsum quae inventore recusandae minima fugiat aspernatur. Sapiente eligendi corrupti voluptatem cum aut veniam laboriosam sed repudiandae!
                Voluptas, nihil! Unde, repudiandae! Dolorem labore, sequi veniam nulla laudantium corporis voluptate veritatis laborum quia? Beatae quo officiis, et est quod nostrum veritatis ipsa adipisci laboriosam aliquam, quibusdam expedita non?
                Ex, amet! Atque praesentium perspiciatis fugiat nemo iste deleniti tenetur debitis veritatis adipisci ex doloribus velit laboriosam aperiam magni nesciunt incidunt, dicta modi ratione est distinctio nisi. Numquam, beatae aliquam!
                Dolorum maxime ad totam praesentium aliquam explicabo ex nihil voluptatum pariatur aperiam accusantium numquam at, provident earum molestiae deserunt minima ut iste non corrupti! Ab, doloribus distinctio. Temporibus, fugiat? Delectus!
                Obcaecati quasi ipsam at veritatis assumenda eligendi repudiandae vero molestiae consequatur cumque, vel ullam cum perferendis dicta voluptas illum velit nesciunt accusantium dolorem debitis, laboriosam aspernatur! Atque reprehenderit eveniet consequuntur?</p>
        </div>

    </div>

    <div class="home-prestation-card">
        <figure><img src="{{asset('img/accueil/alle.JPG')}}" alt="photo d'accueil sur une allee de mariage"></figure>

        <div class="home-prestation-card-content">
            <h3>Organisation</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum numquam eos dolorum vero ipsum quae inventore recusandae minima fugiat aspernatur. Sapiente eligendi corrupti voluptatem cum aut veniam laboriosam sed repudiandae!
                Voluptas, nihil! Unde, repudiandae! Dolorem labore, sequi veniam nulla laudantium corporis voluptate veritatis laborum quia? Beatae quo officiis, et est quod nostrum veritatis ipsa adipisci laboriosam aliquam, quibusdam expedita non?
                Ex, amet! Atque praesentium perspiciatis fugiat nemo iste deleniti tenetur debitis veritatis adipisci ex doloribus velit laboriosam aperiam magni nesciunt incidunt, dicta modi ratione est distinctio nisi. Numquam, beatae aliquam!
                Dolorum maxime ad totam praesentium aliquam explicabo ex nihil voluptatum pariatur aperiam accusantium numquam at, provident earum molestiae deserunt minima ut iste non corrupti! Ab, doloribus distinctio. Temporibus, fugiat? Delectus!
                Obcaecati quasi ipsam at veritatis assumenda eligendi repudiandae vero molestiae consequatur cumque, vel ullam cum perferendis dicta voluptas illum velit nesciunt accusantium dolorem debitis, laboriosam aspernatur! Atque reprehenderit eveniet consequuntur?</p>
        </div>

    </div>

</section>

{# ----------------------------------------bulles service------------------------------------- #}
<section id="home-service">
    <h3>Nous faire confiance</h3>
    <div id="service-cards">
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-location.png')}}" alt="logo d'un point de carte"></figure>
            <p>Lieu</p>
        </div>
        
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-deco.png')}}" alt="logo decoration"></figure>
            <p>Décoration</p>
        </div>
    
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-dollar.png')}}" alt="logo d'un dollar"></figure>
            <p>Budget</p>
        </div>
    
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-people.png')}}" alt="logo d'une personne"></figure>
            <p>Prestataires</p>
        </div>
    
        <div class="service-card">
            <figure><img src="{{asset('img/accueil/logo-orga.png')}}" alt="logo d'un rouage pour l'organisation"></figure>
            <p>Organisation</p>
        </div>

    </div>

</section>
{# 
<svg height="120px" width="120px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 195.65 195.65" xml:space="preserve" fill="#000000" transform="rotate(0)matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path style="fill:#000;" d="M102.123,90.756c0,6.313-5.136,11.449-11.442,11.449c-6.313,0-11.445-5.136-11.445-11.449 c0-6.306,5.132-11.438,11.445-11.438C96.987,79.318,102.123,84.45,102.123,90.756z M108.142,88.945v3.615h72.812v-3.615H108.142z M99.406,105.88l48.4,48.393l2.552-2.548l-48.4-48.397L99.406,105.88z M88.87,195.645h3.622v-87.438H88.87V195.645z M74.182,88.945 H14.691v3.615h59.491V88.945z M92.492,0H88.87v74.905h3.622V0z M79.683,84.364l2.154-2.906L36.204,47.559l-0.676-0.505 l-2.158,2.906L79,83.867L79.683,84.364z M150.469,31.122l-2.62-2.502L99.288,79.454l2.62,2.502L150.469,31.122z M37.088,151.897 l2.731,2.373l42.141-48.536l-2.734-2.369L37.088,151.897z M110.264,102.86l55.569,15.557l0.973-3.482l-55.572-15.557 L110.264,102.86z M43.021,107.655l1.249,3.396l30.474-11.191l-1.249-3.396L43.021,107.655z M108.779,84.4l49.768-17.257 l-1.188-3.418l-49.76,17.257L108.779,84.4z M83.931,75.585l3.285-1.521L59.248,13.571l-0.354-0.769l-3.285,1.521L83.58,74.819 L83.931,75.585z"></path> </g> </g></svg>
<svg height="120px" width="120px" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 2000 2000"><g><g fill="#000000" id="star" transform="matrix(1,0,0,1,25,0)"><path d="M 500 500 C 1000 1000 1000 1000 1500 500 C 1000 1000 1000 1000 1500 1500 C 1000 1000 1000 1000 500 1500 C 1000 1000 1000 1000 500 500" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>
<svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="120px" height="120px" viewBox="0 0 449.39 449.39" xml:space="preserve" stroke="#000000" stroke-width="0.00449393" transform="rotate(-45)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M281.278,401.973c-93.772,0-169.796-76.03-169.796-169.82c0-93.779,76.023-169.808,169.796-169.808 c84.951,0,155.143,62.455,167.648,143.896C439.515,90.79,343.027,0,225.158,0C101.066,0,0.467,100.598,0.467,224.703 c0,124.092,100.599,224.691,224.691,224.691c96.768,0,179.01-61.281,210.643-147.062 C409.073,361.056,350.01,401.973,281.278,401.973z"></path> </g> </g></svg> #}
{# ---------------------------------------------------contact--------------------------------------- #}

<div id="home-contact">
    {# <p>Prêts à commencer votre aventure avec nous ? Contactez Cérémonie Couture dès aujourd'hui pour discuter de vos idées et commencer à <strong>planifier le mariage</strong> de vos rêves. Ensemble, créons une cérémonie qui sera gravée dans votre mémoire pour toujours.
    </p> #}
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 2000 2000"><g><g fill="#000000" id="star" transform="matrix(1,0,0,1,25,0)"><path d="M 500 500 C 1000 1000 1000 1000 1500 500 C 1000 1000 1000 1000 1500 1500 C 1000 1000 1000 1000 500 1500 C 1000 1000 1000 1000 500 500" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800"><g fill="none" stroke-width="3" stroke="#000000" stroke-linecap="round"><line x1="673" y1="400" x2="127" y2="400" transform="rotate(0, 400, 400)" opacity="0.31"></line><line x1="725.5" y1="400" x2="74.5" y2="400" transform="rotate(10, 400, 400)" opacity="0.42"></line><line x1="616" y1="400" x2="184" y2="400" transform="rotate(20, 400, 400)" opacity="0.14"></line><line x1="687.5" y1="400" x2="112.5" y2="400" transform="rotate(30, 400, 400)" opacity="0.98"></line><line x1="721" y1="400" x2="79" y2="400" transform="rotate(40, 400, 400)" opacity="0.66"></line><line x1="668" y1="400" x2="132" y2="400" transform="rotate(50, 400, 400)" opacity="0.32"></line><line x1="573.5" y1="400" x2="226.5" y2="400" transform="rotate(60, 400, 400)" opacity="0.97"></line><line x1="618.5" y1="400" x2="181.5" y2="400" transform="rotate(70, 400, 400)" opacity="0.56"></line><line x1="558.5" y1="400" x2="241.5" y2="400" transform="rotate(80, 400, 400)" opacity="0.42"></line><line x1="620" y1="400" x2="180" y2="400" transform="rotate(90, 400, 400)" opacity="0.11"></line><line x1="713" y1="400" x2="87" y2="400" transform="rotate(100, 400, 400)" opacity="0.88"></line><line x1="726" y1="400" x2="74" y2="400" transform="rotate(110, 400, 400)" opacity="0.39"></line><line x1="682" y1="400" x2="118" y2="400" transform="rotate(120, 400, 400)" opacity="0.67"></line><line x1="571" y1="400" x2="229" y2="400" transform="rotate(130, 400, 400)" opacity="0.38"></line><line x1="592.5" y1="400" x2="207.5" y2="400" transform="rotate(140, 400, 400)" opacity="0.68"></line><line x1="587" y1="400" x2="213" y2="400" transform="rotate(150, 400, 400)" opacity="0.52"></line><line x1="687.5" y1="400" x2="112.5" y2="400" transform="rotate(160, 400, 400)" opacity="0.12"></line><line x1="721.5" y1="400" x2="78.5" y2="400" transform="rotate(170, 400, 400)" opacity="0.70"></line><line x1="588" y1="400" x2="212" y2="400" transform="rotate(180, 400, 400)" opacity="0.59"></line><line x1="645.5" y1="400" x2="154.5" y2="400" transform="rotate(190, 400, 400)" opacity="0.11"></line><line x1="556.5" y1="400" x2="243.5" y2="400" transform="rotate(200, 400, 400)" opacity="0.91"></line><line x1="661.5" y1="400" x2="138.5" y2="400" transform="rotate(210, 400, 400)" opacity="0.24"></line><line x1="608.5" y1="400" x2="191.5" y2="400" transform="rotate(220, 400, 400)" opacity="0.65"></line><line x1="552.5" y1="400" x2="247.5" y2="400" transform="rotate(230, 400, 400)" opacity="0.49"></line><line x1="564.5" y1="400" x2="235.5" y2="400" transform="rotate(240, 400, 400)" opacity="0.63"></line><line x1="600.5" y1="400" x2="199.5" y2="400" transform="rotate(250, 400, 400)" opacity="0.31"></line><line x1="585" y1="400" x2="215" y2="400" transform="rotate(260, 400, 400)" opacity="0.88"></line><line x1="609" y1="400" x2="191" y2="400" transform="rotate(270, 400, 400)" opacity="0.98"></line><line x1="650" y1="400" x2="150" y2="400" transform="rotate(280, 400, 400)" opacity="0.50"></line><line x1="594.5" y1="400" x2="205.5" y2="400" transform="rotate(290, 400, 400)" opacity="0.73"></line><line x1="611" y1="400" x2="189" y2="400" transform="rotate(300, 400, 400)" opacity="0.37"></line><line x1="575" y1="400" x2="225" y2="400" transform="rotate(310, 400, 400)" opacity="0.92"></line><line x1="655" y1="400" x2="145" y2="400" transform="rotate(320, 400, 400)" opacity="0.14"></line><line x1="706.5" y1="400" x2="93.5" y2="400" transform="rotate(330, 400, 400)" opacity="0.55"></line><line x1="705" y1="400" x2="95" y2="400" transform="rotate(340, 400, 400)" opacity="0.72"></line></g></svg>
        <a href="{{ path('app_contact') }}">On en discute ensemble?</a>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800"><g fill="none" stroke-width="3" stroke="#000000" stroke-linecap="round"><line x1="673" y1="400" x2="127" y2="400" transform="rotate(0, 400, 400)" opacity="0.31"></line><line x1="725.5" y1="400" x2="74.5" y2="400" transform="rotate(10, 400, 400)" opacity="0.42"></line><line x1="616" y1="400" x2="184" y2="400" transform="rotate(20, 400, 400)" opacity="0.14"></line><line x1="687.5" y1="400" x2="112.5" y2="400" transform="rotate(30, 400, 400)" opacity="0.98"></line><line x1="721" y1="400" x2="79" y2="400" transform="rotate(40, 400, 400)" opacity="0.66"></line><line x1="668" y1="400" x2="132" y2="400" transform="rotate(50, 400, 400)" opacity="0.32"></line><line x1="573.5" y1="400" x2="226.5" y2="400" transform="rotate(60, 400, 400)" opacity="0.97"></line><line x1="618.5" y1="400" x2="181.5" y2="400" transform="rotate(70, 400, 400)" opacity="0.56"></line><line x1="558.5" y1="400" x2="241.5" y2="400" transform="rotate(80, 400, 400)" opacity="0.42"></line><line x1="620" y1="400" x2="180" y2="400" transform="rotate(90, 400, 400)" opacity="0.11"></line><line x1="713" y1="400" x2="87" y2="400" transform="rotate(100, 400, 400)" opacity="0.88"></line><line x1="726" y1="400" x2="74" y2="400" transform="rotate(110, 400, 400)" opacity="0.39"></line><line x1="682" y1="400" x2="118" y2="400" transform="rotate(120, 400, 400)" opacity="0.67"></line><line x1="571" y1="400" x2="229" y2="400" transform="rotate(130, 400, 400)" opacity="0.38"></line><line x1="592.5" y1="400" x2="207.5" y2="400" transform="rotate(140, 400, 400)" opacity="0.68"></line><line x1="587" y1="400" x2="213" y2="400" transform="rotate(150, 400, 400)" opacity="0.52"></line><line x1="687.5" y1="400" x2="112.5" y2="400" transform="rotate(160, 400, 400)" opacity="0.12"></line><line x1="721.5" y1="400" x2="78.5" y2="400" transform="rotate(170, 400, 400)" opacity="0.70"></line><line x1="588" y1="400" x2="212" y2="400" transform="rotate(180, 400, 400)" opacity="0.59"></line><line x1="645.5" y1="400" x2="154.5" y2="400" transform="rotate(190, 400, 400)" opacity="0.11"></line><line x1="556.5" y1="400" x2="243.5" y2="400" transform="rotate(200, 400, 400)" opacity="0.91"></line><line x1="661.5" y1="400" x2="138.5" y2="400" transform="rotate(210, 400, 400)" opacity="0.24"></line><line x1="608.5" y1="400" x2="191.5" y2="400" transform="rotate(220, 400, 400)" opacity="0.65"></line><line x1="552.5" y1="400" x2="247.5" y2="400" transform="rotate(230, 400, 400)" opacity="0.49"></line><line x1="564.5" y1="400" x2="235.5" y2="400" transform="rotate(240, 400, 400)" opacity="0.63"></line><line x1="600.5" y1="400" x2="199.5" y2="400" transform="rotate(250, 400, 400)" opacity="0.31"></line><line x1="585" y1="400" x2="215" y2="400" transform="rotate(260, 400, 400)" opacity="0.88"></line><line x1="609" y1="400" x2="191" y2="400" transform="rotate(270, 400, 400)" opacity="0.98"></line><line x1="650" y1="400" x2="150" y2="400" transform="rotate(280, 400, 400)" opacity="0.50"></line><line x1="594.5" y1="400" x2="205.5" y2="400" transform="rotate(290, 400, 400)" opacity="0.73"></line><line x1="611" y1="400" x2="189" y2="400" transform="rotate(300, 400, 400)" opacity="0.37"></line><line x1="575" y1="400" x2="225" y2="400" transform="rotate(310, 400, 400)" opacity="0.92"></line><line x1="655" y1="400" x2="145" y2="400" transform="rotate(320, 400, 400)" opacity="0.14"></line><line x1="706.5" y1="400" x2="93.5" y2="400" transform="rotate(330, 400, 400)" opacity="0.55"></line><line x1="705" y1="400" x2="95" y2="400" transform="rotate(340, 400, 400)" opacity="0.72"></line></g></svg>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 2000 2000"><g><g fill="#000000" id="star" transform="matrix(1,0,0,1,25,0)"><path d="M 500 500 C 1000 1000 1000 1000 1500 500 C 1000 1000 1000 1000 1500 1500 C 1000 1000 1000 1000 500 1500 C 1000 1000 1000 1000 500 500" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>
    </p>
    
    
</div>

{# -----------------------------------------------------avis----------------------------------------- #}

<section id="home-avis">
    <h3>Leurs avis</h3>
    {% for a in avis %}
        <div class="avis-card">
            <div class="avis-card-header">
                <p>{{a}}</p>
                <p> {{a.dateReceipt | date("m-Y")}} </p>
            </div>
            <div class="avis-card-content">
                <p>{{a.description}}</p>
            </div>
        </div>
    {% endfor %}

    <a href="{{ path('app_temoignage') }}"><button class="btn-avis">Donner son avis</button></a>
</section>

{% endblock %}
