{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}

<section id="creation">
    <h1>Nos créations</h1>
    
    {% for categorie in categories %}
        
    <h2>{{categorie}}</h2>

    <div class="creation-container">

        {# chaque categorie contient un tableau creations  #}
        {% for creation in categorie.creations %}

        <div class="creation-card">
            <figure>
                <a href="{{path('show_creation', {'id': creation.id}) }}"><img src="{{ asset(creation.pictures[0].url) }}" alt="{{creation.pictures[0].alt}}"></a>
                <a href="{{path('show_creation', {'id': creation.id}) }}"><figcaption> {{creation}} </figcaption></a>
            </figure>
        </div>
        {% endfor %}

    </div>
    

    {% endfor %}
    </div>

</section>


{% endblock %}
