{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}

<section id="creation">
    
    <h1>Nos créations</h1>
    {% for categorie in categories %}
        <h2>{{categorie}}</h2>

        <div class="creation-container">
            {# chaque categorie contient une collection de creations #}
            {% for crea in categorie.creations %}
                {# tableau de photos #}
                {% for picture in crea.pictures %}
    
                    {% for p in picture %}
                        <div class="creation-card">
                            <figure>
                                <a href="{{path('show_creation', {'id': crea.id}) }}"><img src="{{ asset(p.url) }}" alt="{{p.alt}}"></a>
                                <a href="{{path('show_creation', {'id': crea.id}) }}"><figcaption> {{crea}} </figcaption></a>
                            </figure>
                        </div>
                
                    {% endfor %}
    
                {% endfor %} 
            {% endfor %}
        </div>
    
        
    
    {% endfor %}

</section>


{% endblock %}
