{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}

<h1>L'équipe</h1>

{% for worker in workers %}
<figure><img src="{{ asset(worker.urlPicture) }}" alt="{{worker.altPicture}}"></figure>
    <h2>{{worker}}</h2>
    <p> {{worker.job}} </p>
    <p>{{ worker.description }}</p>

    <hr>
{% endfor %}

{% endblock %}
