{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}

<section id="equipe">

    <h1>L'équipe</h1>
    
    {% for worker in workers %}
    
        <div class="equipe-card" id="worker-{{worker.id}}">
            <figure><img src="{{ asset(worker.urlPicture) }}" alt="{{worker.altPicture}}"></figure>
            <div class="equipe-card-main">
                <div class="equipe-card-title">
                    <p class="equipe-name">{{worker}}</p>
                    <p class="equipe-job">{{worker.job}}</p>
                </div>
                <div class="equipe-card-content">
                    <p>{{ worker.description }}</p>
                </div>

            </div>
        </div>
    
    {% endfor %}

</section>

{% endblock %}
