{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}

<h1>L'équipe</h1>

{% for worker in workers %}

    <div class="equipe-card">
        <figure><img src="{{ asset(worker.urlPicture) }}" alt="{{worker.altPicture}}"></figure>
        <div class="equipe-card-main">
            <div class="equipe-card-title">
                <p>{{worker}}</p>
                <p> {{worker.job}} </p>
            </div>
            <div class="equipe-card-content">
                <p>{{ worker.description }}</p>
            </div>

        </div>
    </div>

    <hr>
{% endfor %}

{% endblock %}
