{% extends 'base.html.twig' %}

{% block title %}L'équipe{% endblock %}

{% block body %}

<section id="equipe">

    <h1>L'équipe</h1>
    
    {% set index = 0 %}
    {% for worker in workers %}
    
    {# pour echanger de sens #}
        {% if index is divisible by(2) %}
            <div class="equipe-card" id="worker-{{worker.id}}">
                <figure><img src="{{ asset(worker.urlPicture) }}" alt="{{worker.altPicture}}"></figure>
                <div class="equipe-card-main">
                    <div class="equipe-card-title">
                        <p class="equipe-name">{{worker}}</p>
                        <p class="equipe-job">{{worker.job}}</p>
                    </div>
                    <div class="equipe-card-content">
                        <p>{{ worker.description }}</p>
                    </div>
    
                </div>
            </div>
        
            <hr>
            {% else %}
            <div class="equipe-card" id="worker-{{worker.id}}">
                <div class="equipe-card-main">
                    <div class="equipe-card-title">
                        <p class="equipe-name">{{worker}}</p>
                        <p class="equipe-job">{{worker.job}}</p>
                    </div>
                    <div class="equipe-card-content">
                        <p>{{ worker.description }}</p>
                    </div>    
                </div>
                <figure><img src="{{ asset(worker.urlPicture) }}" alt="{{worker.altPicture}}"></figure>
            </div>
    
        {% endif %}
    
    
    
    
        {% set index = index + 1 %}
    {% endfor %}

</section>

{% endblock %}
