{% extends 'base.html.twig' %}

{% block title %}Nos prestations{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}

<section id="prestation">

    <h1>Nos prestations</h1>

    <div id="prestation-intro">
        <figure><img src="{{asset('img/prestation/pexels-pixabay-248077.jpg')}}" alt="photo accueil des prestations représentant des bagues en or"></figure>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sunt, maiores ex magnam incidunt reiciendis explicabo vero laudantium, officia quae itaque laborum fugit rerum dicta quasi asperiores sapiente tenetur necessitatibus.  Non, architecto a commodi in iste vel ullam odit possimus, ipsum inventore odio, quas distinctio molestiae dicta adipisci perferendis reiciendis suscipit consequatur dolorum nihil pariatur amet quisquam maiores nostrum! Sit! </p>

    </div>
    
    {% for prestation in prestations %}
    <div class="prestation-card">
        <div class="prestation-card-main">
            <h2>{{prestation}}</h2>
            
            <div class="equipe-card-content">
                <p>{{prestation.description}}</p>
                <p>A partir de {{prestation.price |number_format(0, ',', ' ') }} €</p>
            </div>
        </div>
        <img src="{{ asset(prestation.urlPicture) }}" alt="{{prestation.altPicture}}">
    </div>
    <hr>
    {# number format avec le nombre de chiffre après la virgule, le séparateur après la virgule, et l'espace pour sortir "4 000" au lieu de "4000" #}
    
    
    {% endfor %}

</section>

{% endblock %}
