{% extends 'base.html.twig' %}

{% block title %}Détail d'une création{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}

{% block body %}

<section id="detail-creation">
    
    <h1>Nos créations</h1>
    
    <h2>{{creation.title}}</h2>
    <p>{{creation.description}}</p>
    
    <div class="detail-creation">
        {% for picture in creation.pictures %}
        
            <figure>
                <img src="{{ asset(picture.url) }}" alt="{{picture.alt}}">
                <figcaption>{{picture.alt}}</figcaption>
            </figure>
                    
        {% endfor %}

    </div>


</section>



{% endblock %}
