{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block meta %}Cérémonie Couture, wedding planner à Strasbourg. Organisation de mariage, boutique avec création de faire parts de mariage personnalisés et autres.{% endblock %}
{% block body %}
    {# {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}

    <section id="login-form">

        <h1>S'inscrire</h1>
    
        {{ form_errors(registrationForm) }}
    
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            {{ form_row(registrationForm.Valider) }}
    
        {{ form_end(registrationForm) }}

    </section>

{% endblock %}
