{% extends 'adminBase.html.twig' %}

{% block title %}Modifier la commande{% endblock %}

{% block body %}

<h1>Modifier la commande</h1>


{{ form_start(form) }}
    
    {{ form_row(form.datePicking) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.telephone) }}
    <p>Partie produit</p>

    {# {{ form_label(form.bookings) }} #}
    {# {{ form_errors(form.bookings) }} #}


    {# pour chaque entité Booking contenue dans la collection bookings dans l'entité Reservation #}
    {% for booking in form.bookings %}
    
        {# {{ form_errors(booking) }} #}
        {{ form_widget(booking) }}

    {% endfor %}


    {{ form_row(form.Envoyer) }}

{{ form_end(form) }}

{% endblock %}