{% extends 'adminBase.html.twig' %}

{% block title %}Pannel admin{% endblock %}

{% block body %}

<h1>Vérifier les avis</h1>

<p>Vous pouvez choisir maximum 5 avis qui seront publiés</p>

<h2>Avis publiés</h2>

{% for ap in avisPublies %}
    <p>{{ap}} <a href="{{path('change_avis', {'id': ap.id})}}"><i class="fa-solid fa-minus"></i></a> </p>
    <p>{{ap.description}}</p>
{% endfor %}

<hr>
<h2>Avis non publiés</h2>

{% for anp in avisNonPublies %}
    <p>{{anp}}  <a href="{{path('change_avis', {'id': anp.id})}}"><i class="fa-solid fa-plus"></i></a> </p>
    <p>{{anp.description}}</p>
{% endfor %}

{% endblock %}
