{% extends 'adminBase.html.twig' %}

{% block title %}Demandes de projet{% endblock %}

{% block body %}

<section id="projets">

    <h1>Demandes de projet</h1>
    <nav id="nav-projets-reservations" aria-label="seconde nav">
        <a href="{{ path('app_projet', {contactState: 'toBeContacted'}) }}" {% if contactState == 'toBeContacted' %}class="nav-active"{% endif %}>A contacter</a>
        <a href="{{ path('app_projet', {contactState: 'isContacted'}) }}" {% if contactState == 'isContacted' %}class="nav-active"{% endif %}>A été contacté</a>
    </nav>
    

    {% for projet in projets %}
    
        <div class="projet-card">
            <div class="projet-card-content">
                {% if projet.user %}
                    <p>{{projet}}, évènement le {{projet.dateEvent | date("d.m.Y")}}, reçu le {{projet.dateReceipt | date("d.m.Y")}} </p>
                    {% else %}
                    <p>Anonyme, évènement le {{projet.dateEvent | date("d.m.Y")}}, reçu le {{projet.dateReceipt | date("d.m.Y")}} </p>
                {% endif %}
            
                <p> {{projet.description}} </p>
                <p><a href="{{path('show_projet', {'id': projet.id})}}">Voir plus</a></p>
            </div>
            <div class="projet-card-state">
                {# etat du projet  #}
                <p>
                    {# en attente ou en cours  #}
                    {% if projet.state.id == 1 or projet.state.id == 2 %}
                        <i class="fa-solid fa-hourglass-start"></i>
                    {# accepté  #}
                    {% elseif projet.state.id == 3 %}
                        <i class="fa-solid fa-circle-check"></i>
                    {# refusé  #}
                    {% elseif projet.state.id == 4 %}
                        <i class="fa-regular fa-circle-xmark"></i>
                    {% endif %}
                    {{projet.state}}
                </p>
            </div>
        </div>
    
        {% else %}
        <p>Aucune demande à traiter</p>
    {% endfor %}

</section>

{{ knp_pagination_render(projets) }}


{% endblock %}
