{% extends 'adminBase.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}

<style>
    img{
        width: 200px;
    }
</style>
<h1>Détail de la commande</h1>


{# en fonction de si la commande a été préparée  #}
{% if reservation.isPrepared %}
    <p><i class="fa-solid fa-circle-check"></i></p>
    {% else %}
    <p><i class="fa-solid fa-hourglass-start"></i></p>
{% endif %}


<p>Commande n° {{reservation}}, passée le  {{reservation.dateOrder |date("d/m/Y")}}</p>
<p> {{reservation.firstname}} {{reservation.surname}} </p>
<p><i class="fa-solid fa-arrow-right"></i> retire le {{reservation.datePicking |date("d/m/Y")}}</p>


    {# contact  #}
    <p><b>Contact</b></p>
    <p>{{reservation.telephone}}</p>
    <p> {{reservation.user.email}} </p>

    {# produits  #}
    {% if reservation.bookings |length >1  %}
        <p><b>{{ reservation.bookings |length }} produits</b></p>
    {% else %}
        <p><b>{{ reservation.bookings |length }} produit</b></p>
    {% endif %}
    
    {% for produit in reservation.bookings %}
        <figure>
            <img src="{{ asset(produit.product.urlPicture) }}" alt="{{produit.product.altPicture}}">
            <legend>{{produit.quantite}}x {{produit.product}}</legend>
        </figure>
        

    {% endfor %}

    <br><br><hr>
{# commande préparée #}
{% if reservation.isPrepared %}
<p><a href="{{path('change_commande_prepared', {'id': reservation.id})}}">Commande à préparer</a></p>

{% else %}

<p><a href="{{path('change_commande_prepared', {'id': reservation.id})}}">Commande préparée</a></p>
{% endif %}

{# commande récupérée  #}
{% if reservation.isPicked %}
<p><a href="{{path('change_commande_picked', {'id': reservation.id})}}">Commande à récupérer</a></p>

{% else %}

<p><a href="{{path('change_commande_picked', {'id': reservation.id})}}">Commande récupérée</a></p>
{% endif %}

<p><a href="{{path('edit_commande', {'id': reservation.id})}}">Modifier</a></p>
{% endblock %}
