{# liste des produits d'une collection sélectionnée  #}

{% extends 'base.html.twig' %}

{% block title %}Commerce{% endblock %}

{% block body %}

<section id="commerce-batch">

    <h1>Commerce</h1>
    
    <p><a href="{{path('app_basket')}}" class="icon-shop"><i class="fa-solid fa-cart-shopping"></i></a></p>

    <h2>{{batch}}</h2>
    <p>{{batch.description}}</p>
    
    {% for product in batch.products %}
        <hr>
        <div class="collection-produit">
            <img src="{{asset(product.urlPicture)}}" alt="{{product.altPicture}}">
            <p><a href="{{path('show_product', {'id': product.id}) }}">{{product}}</a></p>    
            <p>€ {{product.price|number_format(2, ',', ' ') }}</p>
        </div>
        <hr>
        
    {% endfor %}

</section>

{% endblock %}
