{# liste des produits d'une collection sélectionnée  #}

{% extends 'base.html.twig' %}

{% block title %}Commerce{% endblock %}
{% block meta %}Découvrez les objets créés dans nos ateliers en Alsace. Vous trouverez des objets clés pour un mariage, de la déco et des boxes cadeaux pour les mariés.{% endblock %}


{% block body %}
<section id="shop-batch">

    <h1>Commerce</h1>
    
    {# <p><a href="{{path('app_basket')}}" class="icon-shop"><i class="fa-solid fa-cart-shopping"></i></a></p> #}
    <h2>{{batch}}</h2>
    <p class="batch-description">{{batch.description}}</p>
    
    <div class="collection-produit">
        {% for product in batch.products %}
            <div class="collection-produit-card">
                <a href="{{path('show_product', {'id': product.id}) }}"><img src="{{asset(product.urlPicture)}}" alt="{{product.altPicture}}"></a>
                <a href="{{path('show_product', {'id': product.id}) }}"><p>{{product}}</p></a>
                <p>€ {{product.price|number_format(2, ',', ' ') }}</p>
            </div>
        
        {% endfor %}
    </div>

</section>

{% endblock %}
