{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}
{% block meta %}Découvrez les objets créés dans nos ateliers en Alsace. Vous trouverez des objets clés pour un mariage, de la déco et des boxes cadeaux pour les mariés.{% endblock %}

{% block body %}

<h1>Click and collect</h1>

{% if panier %}
        {% set qttPanier = 0 %}
        {% for p in panier %}
            {% set qttPanier = qttPanier + p.qtt %}
        {% endfor %}
    
        <p class="icon-shop">
            <a href="{{path('app_basket')}}" aria-label="panier">
                <svg width="35px" height="35px" viewBox="0 -2 19.001 19.001" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="Path_14" data-name="Path 14" d="M473.974,826v-1h12v1Zm0,2h11v1h-11Zm9.987,4.02h-9.992a2.664,2.664,0,0,1-2.71-2.66l-.8-7.36h-3.484v-1h4.406l.869,8.36a1.874,1.874,0,0,0,1.72,1.633h9.992v1.027Zm-10.487.98a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,473.474,833Zm-.531,1.969h1V834h-1ZM481.474,833a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,481.474,833Zm-.531,1.969h1V834h-1Z" transform="translate(-466.973 -821)" fill="#444"></path> </g></svg>
            </a>
            <span>{{qttPanier}}</span>
        </p>
        
    {% endif %}

<h2>Création de nos ateliers</h2>

<div class="shop-intro">
    <p>Découvrez notre sélection exclusive d'articles pour votre mariage de rêve.
        Simplifiez vos préparatifs grâce à notre service pratique de <strong>Click and Collect</strong>. Parcourez notre catalogue en ligne, choisissez les articles qui vous plaisent, et <strong>réservez-les</strong> en quelques clics. Venez ensuite les <strong>récupérer</strong> à notre boutique quand cela vous convient.
        Des décorations élégantes aux accessoires tendance, en passant par les cadeaux pour vos invités, trouvez tout ce dont vous avez besoin pour rendre votre journée spéciale inoubliable.</p>
        <p><b>Les commandes sont à venir chercher au 14 rue du Rhône, 67100 Strasbourg!</b></p>
</div>

{# nav pour retrouver la collection cherchée  #}
<nav id="nav-batch" aria-label="second-nav">
    {% for col in collections %}
        <a href="#{{col.id}}">{{col}}</a>
    {% endfor %}
</nav>
{# -------------------------differentes collections-------------------- #}
{% for collection in collections %}

    <div class="shop-collection" id="{{collection.id}}">
        <h3><a href="{{path('show_batch', {'id': collection.id}) }}" class="shop-collection-title">{{collection}}<i class="fa-solid fa-arrow-right"></i></a></h3>
    
        {# l'objet collection possède un tableau d'objets Produit  #}
        <div class="shop-collection-product">
            {% for product in collection.products %}
                <figure>
                    <img src="{{asset(product.urlPicture)}}" alt="{{product.altPicture}}">
                    <figcaption>
                        <a href="{{path('show_product', {'id': product.id})}}">{{product}}</a>
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </div>

{% endfor %}

{% endblock %}
