{% extends 'base.html.twig' %}

{% block title %}Commerce{% endblock %}

{% block body %}

<h1>Commerce</h1>

{% for collection in collections %}
   
<h2>{{collection}} <a href="{{path('show_batch', {'id': collection.id}) }}"><i class="fa-solid fa-arrow-right"></i></a></h2>

{# l'objet collection possède un tableau d'objets Produit  #}
{% for product in collection.products %}
   
    <img src="{{asset(product.urlPicture)}}" alt="{{product.altPicture}}">
    <p>{{product}}</p>

{% endfor %}


{% endfor %}

{% endblock %}
