{# panier #}

{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block meta %}Découvrez les objets créés dans nos ateliers en Alsace. Vous trouverez des objets clés pour un mariage, de la déco et des boxes cadeaux pour les mariés.{% endblock %}

{% block body %}
<h1>Votre panier</h1>


{% if panier %}
    {% set total = 0 %}
    
    <div id="panier">
        <div class="panier-head">
            <p>Produit</p>
            <p>Quantité</p>
            <p>Sous-total</p>
        </div>
        <hr>

        {# produits du panier  #}
        {% for p in panier %}
            <div class="panier">
                <div class="panier-produit">
                    <figure><img src="{{asset(p.produit.urlPicture)}}" alt="{{p.produit.altPicture}}"></figure>
                    <p><a href="{{path('show_product', {'id': p.produit.id}) }}">{{p.produit}}</a></p>
                    <p>{{p.produit.price}} €</p>
                </div>

                <p class="basket-qtt">
                    {# diminue #}
                    <a href="{{path('decrease_product', {'id': p.produit.id})}}"><i class="fa-solid fa-minus"></i></a>
                    {# qtt  #}
                    <span class="basket-qtt-nb">{{p.qtt}}</span>
                    {# augmente #}
                    <a href="{{path('increase_product', {'id': p.produit.id})}}"><i class="fa-solid fa-plus"></i></a>
                </p>

                <p>{{p.sousTotal}} €</p>
                {# <p><a href="{{path('remove_product', {'id': p.produit.id})}}">Supprimer ce produit</a></p> #}
            </div>
            <hr>            
            {# calcule le total de la commande  #}
            {% set total = total + p.sousTotal %}
            
            <p>Total {{total}} €</p>
            <p><a href="{{path('delete_basket')}}">Supprimer tout le panier</a></p>
        
            <hr>
        
            <a href="{{path('make_reservation')}}"><button class="add-basket-btn">Réserver</button></a>
            
        {% endfor %}

        
    </div>


    {% else %}
    <p>Votre panier est vide</p>
{% endif %}

{% endblock %}
