{# panier #}

{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}
{% block meta %}Découvrez les objets créés dans nos ateliers en Alsace. Vous trouverez des objets clés pour un mariage, de la déco et des boxes cadeaux pour les mariés.{% endblock %}

{% block body %}
<h1>Votre panier</h1>


{% if panier %}
    {% set total = 0 %}
    
    {% for p in panier %}
    <figure><img src="{{asset(p.produit.urlPicture)}}" alt="{{p.produit.altPicture}}" width="200px"></figure>
        <p>{{p.produit}} </p>
        <p class="basket-qtt">
            {# diminue #}
            <a href="{{path('decrease_product', {'id': p.produit.id})}}"><i class="fa-solid fa-minus"></i></a>
            {# qtt  #}
            <span class="basket-qtt-nb">{{p.qtt}}</span>
            {# augmente #}
            <a href="{{path('increase_product', {'id': p.produit.id})}}"><i class="fa-solid fa-plus"></i></a>
        </p>
        <p>Sous-total: {{p.sousTotal}} €</p>

        <p><a href="{{path('remove_product', {'id': p.produit.id})}}">Supprimer ce produit</a></p>
        {# calcule le total de la commande  #}
        {% set total = total + p.sousTotal %}

        <hr>
    {% endfor %}

    <p>Total {{total}} €</p>
    <p><a href="{{path('delete_basket')}}">Supprimer tout le panier</a></p>

    <hr>

    <button><a href="{{path('make_reservation')}}">Réserver</a></button>

    {% else %}
    <p>Votre panier est vide</p>
{% endif %}

{% endblock %}
