{# detail d'un produit sélectionné #}

{% extends 'base.html.twig' %}

{% block title %}Détail d'un produit{% endblock %}
{% block meta %}Découvrez les objets créés dans nos ateliers en Alsace. Vous trouverez des objets clés pour un mariage, de la déco et des boxes cadeaux pour les mariés.{% endblock %}

{% block body %}


<section id="commerce-produit">

    <h1>Commerce</h1>
    
    {% if panier %}
        {% set qttPanier = 0 %}
        {% for p in panier %}
            {% set qttPanier = qttPanier + p.qtt %}
        {% endfor %}
    
        <p class="icon-shop">
            <a href="{{path('app_basket')}}" aria-label="panier">
                <svg width="35px" height="35px" viewBox="0 -2 19.001 19.001" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="Path_14" data-name="Path 14" d="M473.974,826v-1h12v1Zm0,2h11v1h-11Zm9.987,4.02h-9.992a2.664,2.664,0,0,1-2.71-2.66l-.8-7.36h-3.484v-1h4.406l.869,8.36a1.874,1.874,0,0,0,1.72,1.633h9.992v1.027Zm-10.487.98a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,473.474,833Zm-.531,1.969h1V834h-1ZM481.474,833a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,481.474,833Zm-.531,1.969h1V834h-1Z" transform="translate(-466.973 -821)" fill="#444"></path> </g></svg>
            </a>
            <span>{{qttPanier}}</span>
        </p>
        
    {% endif %}
    
    <h2>Collection <a href="{{path('show_batch', {'id': product.batch.id}) }}" class="produit-batch-title">{{product.batch |lower}}</a> </h2>
    
    <div class="produit-card">
        <figure><img src="{{asset(product.urlPicture)}}" alt="{{product.altPicture}}"></figure>
        <div class="produit-card-main">
            <h3>{{product.name }}</h3>
            <p class="produit-description">{{product.description}}</p>
            <p class="produit-prix">€ {{product.price |number_format(2, ',', ' ') }}</p>
            <p><small>Taxes incluses.</small></p>
            
            {# ajout au panier  #}
            {# <p>Quantité</p> #}
            <a href="{{ path('add_basket', {'id': product.id}) }}"><button class="add-basket-btn">Ajouter au panier</button></a>

        </div>
    </div>
    
    {# propose 6 autres produits de la collection  #}
    <h4>Vous pourriez aimer</h4>
    <div id="propositions-container">
        {% for proposition in propositions %}
            {% if proposition != product %}
                <div class="proposition-card">
                    <figure><a href="{{path('show_product', {'id': proposition.id}) }}"><img src="{{asset(proposition.urlPicture)}}" alt="{{proposition.altPicture}}"></a></figure>
                    <p><a href="{{path('show_product', {'id': proposition.id}) }}">{{proposition}}</a></p>
                    <p>€ {{proposition.price |number_format(2, ',', ' ')}}</p>
                </div>
            {% endif %}
            
        {% endfor %}
    </div>

</section>

{% endblock %}
