{# detail d'un produit sélectionné #}

{% extends 'base.html.twig' %}

{% block title %}Detail d'un produit{% endblock %}
{% block meta %}Découvrez les objets créés dans nos ateliers en Alsace. Vous trouverez des objets clés pour un mariage, de la déco et des boxes cadeaux pour les mariés.{% endblock %}

{% block body %}

{# {{ dump(app.session.get('clé')) }} #}

<section id="commerce-produit">

    <h1>Commerce</h1>
    
    <p><a href="{{path('app_basket')}}" class="icon-shop"><i class="fa-solid fa-cart-shopping"></i></a></p>
    
    <h2>Collection <a href="{{path('show_batch', {'id': product.batch.id}) }}" class="produit-batch-title">{{product.batch |lower}}</a> </h2>
    
    <div class="produit-card">
        <figure><img src="{{asset(product.urlPicture)}}" alt="{{product.altPicture}}"></figure>
        <div class="produit-card-main">
            <h3>{{product.name }}</h3>
            <p class="produit-description">{{product.description}}</p>
            <p class="produit-prix">€ {{product.price |number_format(2, ',', ' ') }}</p>
            <p><small>Taxes incluses.</small></p>
            
            {# ajout au panier  #}
            {# <p>Quantité</p> #}
            <a href="{{ path('add_basket', {'id': product.id}) }}"><button class="add-basket-btn">Ajouter au panier</button></a>

        </div>
    </div>
    
    <h3>Vous pourriez aimer</h3>

</section>

{% endblock %}
