{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block meta %}Découvrez les objets créés dans nos ateliers en Alsace. Vous trouverez des objets clés pour un mariage, de la déco et des boxes cadeaux pour les mariés.{% endblock %}

{% block body %}

<h1>Réserver</h1>
<p><b>La date pour récupérer la commande ne doit pas dépasser 3 mois.</b></p>

{{form(form)}}

{# {{ form_start(form) }}

{{form_row(form.datePicking)}}

{{form_row(form.Reserver)}}
{{ form_end(form) }} #}
{% endblock %}