{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}
{% block meta %}Découvrez les objets créés dans nos ateliers en Alsace. Vous trouverez des objets clés pour un mariage, de la déco et des boxes cadeaux pour les mariés.{% endblock %}

{% block body %}

<section id="reservation-commande">

    <h1>Réserver</h1>
  
    
    <div class="form reservation">
        {{ form_start(form) }}
    
        <div class="form-flex">
            {{ form_row(form.firstname) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.telephone) }}
        </div>

        {{ form_row(form.Reserver) }}
        {{ form_end(form) }}
    </div>
        
</section>    
{% endblock %}