<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <meta name="description" content="{% block meta %}description{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ asset('img/logo/cc.png')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="page-container">

                <header>
                    <input type="checkbox" id="nav-icon">
                    <label for="nav-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"  id="burgerIcon"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg></label>
                    <nav id="nav">
                        <div id="first-nav">
                            <a href="{{ path('app_creation') }}">Portfolio</a>
                            <a href="{{ path('app_prestation') }}">Nos prestations</a>
                            <a href="{{ path('app_worker') }}">Equipe</a>
                            <a href="{{ path('app_shop') }}">Boutique</a>
                        </div>
                        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logo/logo-cropped.png') }}" alt="logo cérémonie couture" class="logo"></a>
                        
                        
                        <div id="second-nav">
                            <a href="{{ path('app_home') }}" class="accueil">Accueil</a>
                            <a href="{{ path('app_contact') }}" class="callToAction">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 2000 2000"><g><g fill="#000000" id="star" transform="matrix(1,0,0,1,25,0)"><path d="M 500 500 C 1000 1000 1000 1000 1500 500 C 1000 1000 1000 1000 1500 1500 C 1000 1000 1000 1000 500 1500 C 1000 1000 1000 1000 500 500" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>
                                Projet
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 2000 2000"><g><g fill="#000000" id="star" transform="matrix(1,0,0,1,25,0)"><path d="M 500 500 C 1000 1000 1000 1000 1500 500 C 1000 1000 1000 1000 1500 1500 C 1000 1000 1000 1000 500 1500 C 1000 1000 1000 1000 500 500" stroke-linecap="round" stroke-linejoin="round"></path></g></g></svg>
                            </a>
                            {% if app.user %}
                                <a href="{{path('app_profil')}}"><svg width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="10" cy="6" r="4" stroke="#ffff" stroke-width="1.5"></circle> <path d="M18.0429 12.3656L18.4865 11.7609L18.4865 11.7609L18.0429 12.3656ZM19 8.69135L18.4813 9.23307C18.7713 9.51077 19.2287 9.51077 19.5187 9.23307L19 8.69135ZM19.9571 12.3656L19.5135 11.7609L19.5135 11.7609L19.9571 12.3656ZM19 12.8276L19 13.5776H19L19 12.8276ZM18.4865 11.7609C18.0686 11.4542 17.6081 11.0712 17.2595 10.6681C16.8912 10.2423 16.75 9.91131 16.75 9.69673H15.25C15.25 10.4666 15.6912 11.1479 16.1249 11.6493C16.5782 12.1735 17.1391 12.6327 17.5992 12.9703L18.4865 11.7609ZM16.75 9.69673C16.75 9.12068 17.0126 8.87002 17.2419 8.78964C17.4922 8.70189 17.9558 8.72986 18.4813 9.23307L19.5187 8.14963C18.6943 7.36028 17.6579 7.05432 16.7457 7.3741C15.8125 7.70123 15.25 8.59955 15.25 9.69673H16.75ZM20.4008 12.9703C20.8609 12.6327 21.4218 12.1735 21.8751 11.6493C22.3088 11.1479 22.75 10.4666 22.75 9.69672H21.25C21.25 9.91132 21.1088 10.2424 20.7405 10.6681C20.3919 11.0713 19.9314 11.4542 19.5135 11.7609L20.4008 12.9703ZM22.75 9.69672C22.75 8.59954 22.1875 7.70123 21.2543 7.37409C20.3421 7.05432 19.3057 7.36028 18.4813 8.14963L19.5187 9.23307C20.0442 8.72986 20.5078 8.70189 20.7581 8.78964C20.9874 8.87002 21.25 9.12068 21.25 9.69672H22.75ZM17.5992 12.9703C17.9678 13.2407 18.3816 13.5776 19 13.5776L19 12.0776C18.9756 12.0776 18.9605 12.0775 18.9061 12.0488C18.8202 12.0034 18.7128 11.9269 18.4865 11.7609L17.5992 12.9703ZM19.5135 11.7609C19.2872 11.9269 19.1798 12.0034 19.0939 12.0488C19.0395 12.0775 19.0244 12.0776 19 12.0776L19 13.5776C19.6184 13.5776 20.0322 13.2407 20.4008 12.9703L19.5135 11.7609Z" fill="#ffff"></path> <path d="M13 20.6151C12.0907 20.8619 11.0736 21 10 21C6.13401 21 3 19.2091 3 17C3 14.7909 6.13401 13 10 13C13.866 13 17 14.7909 17 17C17 17.3453 16.9234 17.6804 16.7795 18" stroke="#ffff" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>{{app.user}}</a>
                                <a href="{{path('app_logout')}}">Se déconnecter</a>
                            {% else %}
                                <a href="{{path('app_login')}}">Authentification</a>
                            {# <a href="{{path('app_register')}}">S'inscrire</a> #}
                            {% endif %}
                            
                        </div>
                    </nav>
    
                </header>
    
                {# message de success #}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {# message d'erreur #}
                {% for msg in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ msg }}
                    </div>
                {% endfor %}
    
                {% block body %}{% endblock %}

            </div>
            <footer>
                <p>COPYRIGHT &#169; Cérémonie Couture</p>
                <div class="footer-align">
                    <ul>
                        <li>Contact</li>
                        <li>5 boulevard Laine</li>
                        <li>SchneiderBourg</li>
                        <li>01 97 59 96 00</li>
                        <li>diane@ceremonie-couture.fr</li>
                    </ul>
                    <ul>
                        <li>Légal</li>
                        <li><a href="{{path('mentions_legales')}}" target="_blank">Mentions légales</a></li>
                        <li><a href="{{path('politique_confidentialite')}}" target="_blank">Politique de confidentialité</a></li>
                        <li><a href="{{path('cgv')}}" target="_blank">CGV</a></li>
                        {# si la personne est connectée et admin, elle peut acceder au pannel admin  #}
                    {% if app.user %}
                        {% if ("ROLE_ADMIN" in app.user.roles) or ("ROLE_SUPERADMIN" in app.user.roles)  %}
                            <li><a href="{{path('app_admin')}}">Office</a></li>
                        {% endif %}
                    {% endif %}
                    </ul>

                </div>
            </footer>
            <!--========== SCROLL UP ==========-->
            <a href="#" class="scrollup" id="scroll-up">
                &#8593;
            </a>
        </div>
    </body>
    <script src="{{ asset('js/scrollreveal.min.js')}}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
</html>
