<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Devis</title>
</head>
<body>
    <style>
      body{
        font-family: "Nanum Gothic";
        font-size: 16px;
      }
        h1{
            text-align: center;
        }
        table {
            width: 100%;
          }
          
          td, th {
            text-align: left;
            padding: 8px 0;
          }
          .th-right{
            text-align: right;
          }
          img{
            text-align: center;
          }
          thead tr{
            background-color: #D2DDD2;
          }
    </style>
    <h1>Devis final pour projet de mariage</h1>
    <table>
      <tr>
        <td>Devis établi le (date) <br>Numéro de devis: (numéro de devis)</td>
        <td><img src="data:image/png;base64,{{ imageData }}" width="100px" height="100px" alt="ceremonie couture logo"></td>
      </tr>
    </table>

    <table>
      <thead>
        <tr>
          <th>Entreprise</th>
          <th class="th-right">Client</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cérémonie Couture</td>
          <td class="th-right">{{project.firstname}} {{project.surname}}</td>
        </tr>
        <tr>
          <td>1 rue des dev 67100 Strasbourg</td>
          <td class="th-right">{{project.telephone}}</td>
        </tr>
        <tr>
          <td>ceremonie-couture@exemple.fr</td>
          {% if project.email %}
            <td class="th-right">{{project.email}}</td>
            {% else %}
            <td class="th-right">{{project.user.email}}</td>
          {% endif %}
          <td class="th-right">{{project.email}}</td>
        </tr>

      </tbody>
      </table>
      <br><hr>

    <h2>Description du projet: </h2>
    <p><b>Date de l'évènement: {{project.dateEvent | date("d.m.Y")}} </b></p>
    <p>Nombre d'invités: {{project.nbGuest}} </p>
    <p>Destination: {{project.destination}} </p>


    <h3>Prestations choisies:</h3>
    {% for prestation in project.prestations %}
        <p>{{prestation}} (à partir de {{prestation.price |number_format(0, ',', ' ') }} €)</p>
    {% endfor %}

    <h3>Budget initial:</h3>
    <p>{{project.budget.minPrice |number_format(0, ',', ' ')}} - {{ project.budget.maxPrice |number_format(0, ',', ' ')}} €</p>

    
    <p style="font-size: large;"><b>Prix fixé: {{project.finalPrice |number_format(0, ',', ' ') }} € </b></p>
    
    <h3>Commentaires</h3>
    {% for comment in project.comments %}
        <p>{{comment}}</p>
        {% else %}
        <p>Aucun commentaire ajouté</p>
    {% endfor %}



</body>
</html>