
<h1>Bonjour {{ reservation.firstname }} {{ reservation.surname }}!</h1>

<p>
    Nous avons bien reçu votre commande, elle sera disponible à partir du <b>{{reservation.datePicking |date("d.m.Y") }}</b> (sauf changement de dernière minute).
</p>
<p>
    Vous receverez un autre email de confirmation lorsqu'elle sera préparée.
</p>

<h2>Réservation: </h2>
<ul>
    <li>Commande n° {{reservation}}</li>
    <li>Passée le {{reservation.dateOrder |format_datetime('short', 'short', locale='fr')}} </li>
</ul>
<h3>Produits: </h3>

<ul>
    {% for produit in reservation.bookings %}
            <li>{{produit.quantite}}  x {{produit.product.name}}</li>
    {% endfor %}

</ul>

<p>
    Cordialement,
    <br>
    <small>L'équipe Cérémonie Couture</small>
</p>
<img src="{{ email.image('@images/logo/cc.png') }}" width="150px" height="150px">